<p id="notice"><%= notice %></p>
<%= react_component("Placeholder", props:@menuProps) %>


<!-- <p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Header colour:</strong>
  <%= @report.header_colour %>
</p>

<p>
  <strong>Footer colour:</strong>
  <%= @report.footer_colour %>
</p>

<p>
  <strong>Footer date:</strong>
  <%= @report.footer_date %>
</p>

<p>
  <strong>Footer company:</strong>
  <%= @report.footer_company %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @report.user_id %>
</p>
<%= link_to 'Edit', edit_user_report_path(@user, @report) %> |
<%= link_to 'Back', root_path %> -->
