<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @part.title %>
</p>

<p>
  <strong>Report:</strong>
  <%= @part.report %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
